.parentProperty {
  background-color: brown;
  color: black;
  text-align: center;
  width: 500px;
  margin-left: 400px;
  margin-top: 50px;
}

.childProperty {
  background-color: gray;
  color: black;
}

.childOfChildProperty {
  background-color: green;
  color: black;
}

.OuterTrigger{
  margin-left: 400px;
  width: 500px;
  text-align: center;
  margin-top: 100px;
  border-radius: 10px solid black;
  background-color: green;
  color: black;
}

.Hovering:hover{
  background-color: brown;
  color: black;
}
