.pagination {
  justify-content: center;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.page-item .page-link {
  position: relative;
  display: block;
  margin: 0 5px;
  min-height: 40px;
  min-width: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  color: #007bff;
  text-decoration: none;
}

.page-item a.page-link:hover {
  background-color: #cccccc;
}

.page-item.active .page-link {
  font-weight: 700;
  color: #ffffff;
  background-color: #007bff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.paginators {
  padding: 10px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  width: 800px;
  margin-left: 250px;
}

.paginators > span {
  padding: 15px 20px;
  border-radius: 5px solid rgb(18, 14, 14);
  cursor: pointer;
}

.paginators > span:hover {
  background-color: brown;
  border-radius: 12px solid brown;
  color: white;
  margin-right: 2px;
  margin-left: 2px;
}
.activeItem {
  color: white;
  background-color: green;
  border-radius: 10px;
}
.disabling{
  opacity: 0;
}
